.answer {
    margin-top: 2rem;
    display: inline-block;
    border: 1px #555 solid;
    border-radius: 10px;
    padding: 1rem;
    background-color: #333;
}

.answer h4 {
    margin-top: 0;
}

.colorPreview {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.answerPreview {
    margin-left: 1rem;
    height: 75px;
    width: 75px;
}
